body,html
{
    height: 100%;
    width: 100%;
    font-family: "SeguaIO" , "Arial" , "Helvetica" , sans-serif;
    font-size: 24px;
    position: relative;
}
 #index .wrapper
{
    background-image: url(../image/123.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 142px;
    z-index:2;
    
}
.in
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

ul > li
{
    border: 4px solid #fff;
    display: inline-block;
    margin-right:-8px;
 
    border-left: none;    
    border-top: none;
}
li:first-child
{
    border: 4px solid #fff;
    border-top: none;    
}
li:last-child
{
     border: 4px solid #fff;
    border-top: none;
}
nav 
{   
    text-align: right;
}
nav a
{
    padding: 21px;
    display: block;
    padding-top: 116px;
    font-size: 27px;
    letter-spacing: 0.5px;
}
a
{
    text-decoration: none;
    color: #fff;
    font-size: 27px;

}
footer
{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 117px;    
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.20);
    left: 0;
    max-height: 117px;
}
p
{
    
    padding-bottom: 48px;
    padding-top: 48px;
    font-size: 25px;
    
}
 #index main
{
    padding-top: 392px;
}
#index h1
{
    
    font-size: 60px;
    
    color: #fff;
    width: 727px;
    margin-left: 220px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
}
#index h1::before
{
    position: absolute;
    content: "";
    height: 421px;
    width: 269px;
    background-color:#e9b926;
    top: -180px; 
    left: -151px;
    z-index: -10;
}



.tel
{
    
     padding-bottom: 48px;
     float: right;
     top: 0px;   
}
p > a
{
    color: black;
    font-size: 25px;    
}
footer p
{
    float: left;
}
li:nth-child(1):hover
{
    background-color: #ff0000;
    
}
li:nth-child(2):hover
{
    background-color: #e9b926;
    
}
li:nth-child(3):hover
{
    background-color: #0c0c8b;
    
}
li:nth-child(4):hover
{
    background-color: #09a814;
    
}
li:nth-child(5):hover
{
    background-color: #00b6cb;
    
}
li:first-child
{
    border: 4px solid #fff;
    border-top: none;    
}
li:last-child
{
     border: 4px solid #fff;
    border-top: none;
}
.logo
{
    float: left;
    height: 140px;
    width: 142px;
    padding-top: 20px;
}


 #school .wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    background-color: #fff;
    color: #000;
    
}
#header

{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 142px;
    z-index:2;    
}
#school .background
{
   
    background-image: url(../image/345.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    height: 483px;
    width: 100%;
}
main
{
    margin-top:70px;
}
#school h1
{

    
    font-size: 60px;
    
    color: #000;
    width: 727px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
    left: 160px;
}
h1::before
{
    position: absolute;
    content: "";
    height: 278px;
    width: 253px;
    background-color:#e9b926;
    top: -70px; 
    left: -151px;
    z-index: -10;
}
main
{
    padding-top: 50px;
}

.text
{
    padding-left: 290px;
    padding-right: 50px;
}
h3
{
    padding-left: 70px;
    padding-top: 70px;
    font-weight: bold;
}
section .img
{
    float: right;
    max-width:  50%;
}
.text2
{
    padding-left:70px;
    
   
}
span
{
    color: #cfa420;
}
.img2
{
    float: left;
    max-width:  50%; 
    padding-right: 20px;
    padding-top: 75px;
   
}


/*postpleniye*/
 #postup .wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    background-color: #fff;
    color: #000;
    
}
#postup .background
{
   
    background-image: url(../image/post_back.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    height: 483px;
    width: 100%;
}
#postup h1
{

    margin-bottom: 300px;
    font-size: 60px;
   
    color: #000;
    width: 727px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
    left: 160px;
}
h1::before
{
    position: absolute;
    content: "";
    height: 278px;
    width: 253px;
    background-color:#e9b926;
    top: -70px; 
    left: -180px;
    z-index: -10;
}

.textpost
{
    padding-left: 280px;
    padding-right: 50px;
    
}
strong
{
font-weight: bold;
}

/*about teachers*/

#teachs .wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    background-color: #fff;
    color: #000;
    
}
#teachs .background
{
   
    background-image: url(../image/tech_back.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    height: 483px;
    width: 100%;
}
#teachs h1

{

    margin-bottom: 300px;
    font-size: 60px;
    color: #000;
    width: 727px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
    left: 160px;
}
h1::before
{
    position: absolute;
    content: "";
    height: 278px;
    width: 253px;
    background-color:#e9b926;
    top: -70px; 
    left: -180px;
    z-index: -10;
}
.textpost , .textpost2 
{
    padding-left: 280px;
    position: absolute;
    top: 692px;
    padding-right: 50px;
}
strong
{
    font-weight: bold;
}
.nameteach
{
    white-space: 16pxpx;
}
.imgteach
{
    float: right;
    width: 50%;
    padding-bottom: 150px;
    padding-left: 20px;
}
.imgteach2
{
    float: left;
    width: 50%;
    padding-bottom: 150px;
    padding-right: 20px;
}

/*about news*/

#news .wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    background-color: #fff;
    color: #000;
    
}
#news .background
{
   
    background-image: url(../image/news_back.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    height: 483px;
    width: 100%;
}
#news h1
{

    margin-bottom: 40px;
    font-size: 60px;
    color: #000;
    width: 727px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
    left: 160px;
}
h1::before
{
    position: absolute;
    content: "";
    height: 278px;
    width: 253px;
    background-color:#e9b926;
    top: -70px; 
    left: -180px;
    z-index: -10;
}
.textpost3
{
    padding-left: 280px;
    padding-right: 50px;
}
.textpost4
{
    padding-left: 280px;

    padding-right: 50px;
}
.newsimg
{
    float: right;
    width: 50%;
    padding-top: 50px;
}

/*Контакты*/
#cont .wrapper
{
    position: relative;
    max-width: 100%;
    min-width: 980px;
    font-family: "SegoeUI";
    box-sizing: border-box;
    padding-bottom: 300px;
    min-height: 100%;
    background-color: #fff;
    color: #000;
    
}
#cont .background
{
   
    background-image: url(../image/cont_back.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: top center ;
    height: 483px;
    width: 100%;
}
#cont h1
{

    margin-bottom: 50px;
    font-size: 60px;
    color: #000;
    width: 727px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    font-family: 'SegoeUI';
    z-index: 1;
    left: 160px;
}
h1::before
{
    position: absolute;
    content: "";
    height: 278px;
    width: 253px;
    background-color:#e9b926;
    top: -70px; 
    left: -180px;
    z-index: -10;
}
.textcont
{
    padding-left: 280px;
    padding-right: 50px;

}
#cont section p
{
   line-height: 30px;
}
.map
{
 float: right;
}
section
{
    clear: both;
}